body {
  position: relative;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-display: swap;
}

a {
  color: #00B7FF;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h6 {
  color: rgb(243, 145, 33);
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-display: swap;
  }

h1 {
  color: rgb(243, 145, 33);
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-display: swap;
  }
#confidence{
  margin-top: 50px;
  margin-bottom: 50px;
}
.carousel-inner {
    background-color: #ddd;
    padding-top: 50px;
    padding-bottom: 50px;
}

.overlay-dark {
  background-color: rgba(#596164, 0.4);
}