<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <!-- 
          <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1> 
        -->
        
        {% if site.logo %}
        <a href="/">
          <img src="/images/MTLOGO.jpg"
          onmouseover='this.src="/images/Author.jpg"' 
          onmouseout='this.src="/images/MTLOGO.jpg"' />
        </a>
        {% endif %}

        <!-- 
          <p>{{ site.description | default: site.github.project_tagline }}</p>
        -->

        <p>These books are independently self-published. If you're working on a project and want to collaborate I would love to hear from you. </p>
        <p>I have gone to some length to document my process along with tips, templates, and recommendations. I've made these available to any writers or authors that may be interested. <a href="http://blog.vrfg.io/pages/README">These are hosted publicly here in GitHub.</a></p>

      </header>
      <section>

      {{ content }}

      </section>

    <footer>
        <p><small>
            4800 South Louise Ave.<br>Ste. 116<br>Sioux Falls, SD 57106<br>USA</p>
            <p>&#9742; +1 (605) 610 8381 </p>

            <p>
                &#169; MORNINGTUNDRA 2019<br> All Rights Reserved<br> Hosted on GitHub Pages 
            </small></p>
    </footer>

    </div>



    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
    {% if site.google_analytics %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', '{{ site.google_analytics }}', 'auto');
      ga('send', 'pageview');
    </script>
    {% endif %}
  </body>
</html>