body {
  position: relative;
  
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.carousel-inner {
    background-color: #ddd;
    padding-top: 50px;
    padding-bottom: 50px;
}